:root {
  font: 16px / 1 sans-serif;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: darkred;
}

.homepage-background {
  margin: 0;
  background-image: url('./images/highlight.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  background-position: absolute;
  overflow-y: scroll;
}

.nav {
  display: flex;
  justify-content: center;
}
.centered-text {
  text-align: center;
}
.right-justify {
  text-align: right;
}

.movie-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .home-poster {
  margin: 0 auto;
} */
